/* Mengimpor Google Font 'Roboto Mono' (untuk judul) dan 'Roboto' (untuk teks) */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    /* Menerapkan font Roboto ke seluruh teks paragraf agar rapi dibaca */
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    scroll-behavior: smooth;
  }
  
  /* Menerapkan font gaya "Mesin Tik" KHUSUS untuk semua Judul (seperti di screenshot Anda) */
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Mono', monospace;
    letter-spacing: -0.5px; /* Sedikit merapatkan huruf agar makin mirip */
  }
  
  body {
    background-color: #f4f6f8; 
    color: #334155;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* KUSTOMISASI SCROLLBAR */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #94a3b8;
  }

  /* KUSTOMISASI WARNA SELECTION */
  ::selection {
    background-color: #dbeafe;
    color: #1e3a8a;
  }
}

iframe {
  background-color: #ffffff;
}

@layer utilities {
  /* Mematikan rata kanan-kiri di layar HP agar spasi kata tidak bolong-bolong */
  .text-justify {
    text-align: left !important;
  }
  
  /* Mengaktifkan kembali rata kanan-kiri secara otomatis di layar besar (Laptop/PC) */
  @media (min-width: 768px) {
    .text-justify {
      text-align: justify !important;
    }
  }
}
